[Unit]
Description=nexus service
After=network.target
  
[Service]
Type=forking
LimitNOFILE=65536
ExecStart=/usr/bin/nexus-3.0.2-02/bin/nexus start
ExecStop=/usr/bin/nexus-3.0.2-2/bin/nexus stop
User=nexus
Restart=on-abort 
[Install]
WantedBy=multi-user.target
